*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER SECTION*/

ul li{
    list-style-type: none;
    margin-right: 80px;
}


a{
    text-decoration: none;
}

header {
    width: 100%;
    height: 4.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.1);
    position: sticky;
    z-index: 100;
    font-family: "Poppins", sans-serif;
}


header nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    top: 0;
}

.logo {
    background-color: black;
    color:purple;
    border-radius: 7px;
    font-size: 25px;
    padding: 0.5rem;
}
    
header nav > ul
{
    display: none;
}

.mobile button{
  outline: 0;
  border: 1px solid black;
  font-size: 1.2rem;
  cursor: pointer;

}

 ul.mobile-dropdown{
    position: absolute;
    right: 0;
    top: 100%;
    width: 60%;
    max-width: 12rem;
    height: calc(100vh- 4.5rem);
    background-color: #f6f6f6;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    display: none;

}

/*BODY SECTION*/

main {
    font-family: "Roboto", sans-serif;
}

/* Home */

#Home {
    width: 100%;
    height: calc(100vh - 4.5rem); 
    background-image: url(../images/hero-1.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    position: relative; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: 1.5rem; 
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 10, 70, 0.5);
}

#Home h1{
    color:white;
    z-index: 3;
    text-align: center;
    font-size: 2rem;
}

#Home p {
    z-index: 3;
    color:white;
    font-weight: 900;
    text-align: center;
    width: 90%;
    max-width: 35rem;
}

#Home a{
    background-color:red;
    color:white;
    padding: 0.7rem 2rem;
    transition: 0.5s ease-in-out;
    margin: 5rem;
    border-radius: 15px;
    font-size: 0.95rem;
    width: fit-content;
}

#Home a:hover{
    background-color:blue;
    color:black;
}


    /*------About Section-------*/
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:purple;
    color: white;
    padding: 1rem;
}

.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    background-color: rgb(46, 42, 42);
}

.article > p{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    line-height: 2;
    color: beige;
}
    
.content img{
    max-width: 100%;
    height: 100%;
}

/*---------Skills section-------------*/

.skills-intro h2
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:purple;
    color: white;
    padding: 1rem;
}

.skills-intro ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:purple;
    color: white;
    padding: 1rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    background-color: rgb(68, 61, 61);
}

.container div{
    width: 190px;
    height: 15rem;
    margin: 2rem auto;
    background-color: #07182E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 20px;
    overflow: hidden;
    color: white;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
}

.container div:hover{
    background-color: gainsboro;
    color: blue;

}

/*---------PROJECT section-------------*/
#Projects h2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:purple;
    color: white;
    padding: 1rem;
}

.projects{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
    background-color: rgb(68, 61, 61);
}

.projects article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
    color: beige;
}
    
.projects img{
    max-width: 100%;
    height: 100%;
    transition: all 0.9s ease-in-out;
}

.projects img:hover{
    scale: 1.10;
    filter: grayscale(0.5);
}
.projects a{
    background-color: red;
    color: wheat;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}

.projects a:hover{
    background-color: blue;
    color: white;
}
 

/*---------MEDIA QUERY-------------*/

/* Styles for screens 768px and wider (tablets and small desktops) */


 @media(min-width:768px)
 {
    #Home{
    min-height: 60vh;
    }

    #Home p {
        font-size: 1.3rem;
    }

    .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    }

    .content img {
    width: 100%;
    height: auto;
  }

   .container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: auto;
    }

    .projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    }

    .projects img {
    width: 100%;
    height: auto;
  }
}




@media(min-width:1024px)
{
    .mobile{
        display:none;
    }

    header nav > ul{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    header  a {
    color: purple;
    font-weight: 600;
    font-size: 1.5rem;
   } 

    header a:hover{
    color: blue;
   }

   #Home h1{
    font-size: 5rem;
   }
   
 }
  
